body {
	background-color: #dad9d2;
	margin: 0;
}

button {
	background-color: #f5f5f5;
	border: 0;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	color: #696969;
	font-weight: bold;
	height: 48px;
	width: 60px;
	margin: 0 12px 10px -4px;
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

button:focus {
	outline:0;
}

.hidden {
	visibility: hidden;
}

.left {
	margin-left: 0;
}

.right {
	position: absolute;
}

.plus {
   bottom: 15px;
   height: 164px;
   right: 9px;
}

.minus {
   height: 106px;
   top: 95px;

}

#display {
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
	box-shadow: inset 0px 6px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	color: #f5f5f5;
/*	display: flex;
	flex-direction: column;
	justify-content: center;*/
	font-size: 25px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 10px;
	text-align: right;
	width: 100%;
}

#wrap {
 	background-color: #258b25;
 	border-radius: 20px;
 	box-sizing: border-box;
 	height: 400px;
 	margin: 5% auto;
 	padding: 25px 22px;
 	position: relative;
 	width: 320px;
}