body {
	margin: 0;
}

button {
	border: 0;
	border-radius: 5px;
	height: 48px;
	width: 60px;
	margin: 0 12px 10px -4px;
}

button:active {
  transform: translate(0px, 3px);
  /*box-shadow: none;*/
}

.hidden {
	visibility: hidden;
}

.left {
	margin-left: 0;
}

.right {
	position: absolute;
}

.plus {
   bottom: 15px;
   height: 164px;
   right: 10px;
}

.minus {
   height: 106px;
   top: 95px;

}

#screen {
	background-color: yellow;
	border-radius: 5px;
	height: 60px;
	margin-bottom: 10px;
	text-align: right;
	width: 100%;
}

#wrap {
 	background-color: blue;
 	box-sizing: border-box;
 	height: 400px;
 	margin: 5% auto;
 	padding: 25px 22px;
 	position: relative;
 	width: 320px;
}